page-menuprodutor {
    .header{
        height: 150px;
        background: url(../assets/imgs/polygon.png);
        background-repeat: no-repeat;
        background-position: center;

        #icon-back{
            float: right;
            position: absolute;
            margin-left: 90%;
            margin-top: 15px;
        }   
    }
    #header-icon{
        background-color: #fff;
        width: 50px;
        height: 50px;
        float: left;
        margin-left: 18px;
        border-radius: 100%;
        margin-top: 10px;
        z-index: -1;
    }
    .icon-product{
        width: 50px;
        height: 50px;
        background: url(../assets/icon/product42.png);
        background-repeat: no-repeat;
        background-position: center;
    }
    #header-title{
        width: 65%;
        position: absolute;
        margin-right: 10%;
        margin-top: 25px;
        margin-left: 25%;
        #meus-produtos{
            font-size: 20px;
            color: #fff;
            margin:0px;
        }

    }
    .item-md ion-thumbnail[item-start]{
        margin: 0px;
        margin-right: 5px;
        img{
            width: 100px;
            height: auto;
        }
    }

    .informations{
        margin-top: 15px; 

        .profile-infos{
            color: rgb(54, 54, 54);
            font-size: 14px;
            font-weight: lighter;
            margin: 0px;
        }

        #producer-name{
            font-size: 18px;
            font-weight: lighter;
            color: rgb(71, 119, 8);
            margin-bottom: 5px;
        }
    }
    
    .label{
        color: rgb(88, 88, 88);
    }

    .item{
        padding-left: 5px;
    }

    .infos{
        text-align: center;
        width: 100%;
        margin-top: 20%;
        font-size: 20px;    
    }
    #item-list{
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.05);
        width: 95%;
        margin: 0 auto;
        border-radius: 5px;
        margin-top: 5%;
        
        .nome-produto{
            font-size: 20px;
            color: rgb(51, 51, 51);
            margin-left: 10px;
            font-weight: bold;
            white-space: normal;
        }
        .info-produto{
            margin-left: 10px;
            font-size: 15px;
            margin-top: 10px;
        }
        .list ion-item-options .button{
            padding-right: 0px;
            background: rgb(245, 244, 244);
        }
    }
}
