page-search-product {
    .header{
        height:70px;
        background-color: #95C829;
        z-index: 9999; 
        #icon-back{
            float: right;
            position: absolute;
            margin-left: 90%;
            margin-top: 15px;
        }   
    }
    #header-icon{
        background-color: #fff;
        width: 50px;
        height: 50px;
        float: left;
        margin-left: 18px;
        border-radius: 100%;
        margin-top: 10px;
        z-index: -1;
    }
    .icon-product{
        width: 50px;
        height: 50px;
        background: url(../assets/icon/product42.png);
        background-repeat: no-repeat;
        background-position: center;
    }
    #header-title{
        width: 65%;
        position: absolute;
        margin-right: 10%;
        margin-top: 25px;
        margin-left: 25%;
        p{
            font-size: 20px;
            color: #fff;
            margin:0px;
            
            @font-face {
                font-family: 'BerlowCondensed';
                src: url(../assets/fonts/BerlowCondensed.woff2);
            }
        }
    }
    .back{
        float: right;
        margin-right: 15px;
        position: relative;
        margin-top: 23px;
    }
    
    .searchbar{
    background-color: #95C829;
    transition: 2s;
        .searchbar-input{
            box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
            border-radius: 20px;

        }
    }
    .searchbar-wp {
        .searchbar-input-container{
            border: 0px;
        }
    } 

    .product{
        padding: 0px;
        
        .label{
            margin: 0px;
        }

        ion-card{
            margin: 10px;
            border-radius: 10px;
            background-color: transparent;
        }
        .description{
            white-space: normal;
            word-break: break-all;
        }
    }

    .item.item-block .item-inner {
        padding-right: 0px; 
        background: transparent;  
    }
    
    #item-list-products{
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.05);
        width: 95%;
        margin: 0 auto;
        border-radius: 5px;
        margin-top: 5%;
        .list-ios .item{
            border: 0px;
        }
    }
    .item-button, .item-button-wp{
        border-bottom: 0.55px solid rgb(200, 199, 204);
    }
    .nome-produto{
        font-size: 20px;
        color: rgb(51, 51, 51);
        margin-left: 10px;
        font-weight: bold;
        white-space: normal;
    }
    .info-produto{
        margin-left: 10px;
        font-size: 15px;
        margin-top: 10px;
    }

}
